/* GLOBALS */

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

body {
    width: 100%;
    background-color: #f1f1f1;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

img {
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
}

.d-flex {
    display: flex;
}


/* BUTTONS*/

.btn {
    background-color: rgb(22, 122, 198);
    border: 0 solid #fff;
    border-radius: 5%;
    color: #fff;
}


/* header / Navbar */

.h-container {
    max-height: 8rem;
    background-color: #fff;
    margin-bottom: 1rem;
    padding: 1rem 3rem;
}

.h-flex {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.d-logo {
    flex-basis: calc(20% - 2rem);
    display: flex;
    align-items: center;
}

.d-logo i,
.icon-header {
    font-size: 2rem;
    color: #b5b5b5;
}

.logo-img {
    width: 13rem;
    padding-left: 2rem;
}

.search-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-basis: calc(80% - 4rem);
}

.search-flex i {
    margin: 0 auto;
}

.search-bar {
    display: flex;
    flex-basis: calc(80% - 4rem);
}

.search-bar input {
    width: 100%;
    height: 2.5rem;
}

.b-header {
    height: 2.5rem;
    flex-basis: 7%;
}


/* Translate & Information */

.l-container {
    margin-bottom: 2rem;
}

.info-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    background-color: #167ac6;
    color: #fff;
}

.i-flex {
    display: flex;
    align-items: center;
}

.i-flex i {
    font-size: 2rem;
}

.i-flex h2 {
    margin-left: 1.8rem;
}

.info-flex i {
    cursor: pointer;
}

.c-language {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem 2.5rem;
    border: .3rem solid #167ac6;
    font-size: 1.6rem;
}

.c-language p a {
    cursor: not-allowed;
}

.c-language p a,
.c-language a {
    color: #167ac6;
}


/* Main */

.main-flex {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 2rem;
}

.main-content iframe {
    width: 100%;
    height: 45rem;
}

.channel-info {
    margin-top: 1.5rem;
    background-color: #fff;
}

.channel-flex,
.channel-image,
.subscribe-channel,
.share-flex {
    display: flex;
}

.channel-flex,
.share-flex {
    align-items: center;
    justify-content: space-between;
}

.channel-image {
    flex-basis: 15%;
    justify-content: space-between;
}

.channel-image img {
    height: 100%;
}

.channel-name h3 {
    margin: 0;
}

.subscribe-channel button {
    padding: 0.3rem;
}

.p-share {
    padding-right: 2rem;
}

.p-share i {
    padding-right: 1rem;
}


/* sidebar */


/* footer */