/* GLOBALS */

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

body {
    width: 100%;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

img {
    max-width: 100%;
    height: auto;
}

.d-flex {
    display: flex;
}


/* BUTTONS*/

.btn {
    background-color: rgb(22, 122, 198);
    border: 0 solid #fff;
    border-radius: 5%;
    color: #fff;
}


/* header / Navbar */

.h-container {
    max-height: 8rem;
    padding: 1rem 3rem;
}

.h-flex {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.d-logo {
    flex-basis: calc(20% - 2rem);
    display: flex;
    align-items: center;
}

.d-logo i,
.icon-header {
    font-size: 2rem;
}

.logo-img {
    width: 13rem;
    padding-left: 2rem;
}

.search-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-basis: calc(80% - 4rem);
}

.search-flex i {
    margin: 0 auto;
}

.search-bar {
    display: flex;
    flex-basis: calc(80% - 4rem);
}

.search-bar input {
    width: 100%;
    height: 2.5rem;
}


/*
.icon-header,
.b-header {
    flex-basis: calc(10% - 2rem);
}
*/

.b-header {
    height: 2.5rem;
    flex-basis: 7%;
}


/* Main */


/* sidebar */


/* footer */